{% extends 'layout/layoutSubPaginas.html' %}

{% block imgInfo %}
<img class="img-fluid shadow-img" src="{{ url_for('static', filename='images/computing-info.png') }}" alt="" />
{% endblock %}

{% block info %}
En <b>[Nombre de la Empresa]</b>, estamos comprometidos en ofrecer soluciones de cómputo integrales
y personalizadas para satisfacer las necesidades tecnológicas de su empresa. Nuestra experiencia y
dedicación nos permiten brindar una amplia gama de servicios de cómputo diseñados para impulsar la
eficiencia, la productividad y la seguridad de su organización
{% endblock %}

{% block imgDescription %}
<img class="img-fluid rounded shadow-img"
    src="{{ url_for('static', filename='images/computing-description-img-2.jpg') }}" alt="">
{% endblock %}