{% extends 'layout/layoutSubPaginas.html' %}

{% block imgInfo %}
<img class="img-fluid shadow-img" src="{{ url_for('static', filename='images/datacenter-info.png') }}" alt="" />
{% endblock %}

{% block info %}
En <b>[Nombre de la Empresa]</b>, nos enorgullece ofrecer una amplia gama de servicios de data
center de vanguardia, diseñados para proporcionar soluciones de infraestructura tecnológica
confiables, escalables y seguras para su organización. Nuestra experiencia y compromiso nos permiten
ser su socio estratégico en la gestión de su entorno tecnológico crítico.
{% endblock %}

{% block imgDescription %}
<img class="img-fluid rounded shadow-img"
    src="{{ url_for('static', filename='images/datacenter-description-img.jpg') }}" alt="">
{% endblock %}