{% extends 'site/plantillaSubPaginas.html' %}

{% block imgInfo %}
<img class="img-fluid shadow-img" src="{{ url_for('static', filename='images/networking-info.png') }}" alt="" />
{% endblock %}

{% block info %}
En <b>[Nombre de la Empresa]</b>, nos especializamos en proporcionar soluciones integrales de redes
diseñadas para satisfacer las necesidades tecnológicas de su empresa. Nuestro equipo de expertos en
redes está comprometido en ofrecer soluciones de vanguardia que optimizan la conectividad, mejoran
la seguridad y permiten el crecimiento de su negocio.
{% endblock %}

{% block imgDescription %}
<img class="img-fluid rounded shadow-img" src="{{ url_for('static', filename='images/networking-description-2.jpg') }}"
    alt="">
{% endblock %}

<!--More services-->

{% block moreServices %}
<div class="col-md-2 text-center mt-2">
    <a class="index-services-btn " href="{{ url_for('virtualizacion') }}">
        <div class="box index-services sub-pages-btn">
            <div class="img-box">
                <img class="subpage-img" src="{{ url_for('static', filename='images/virtualization-bw.svg') }}"
                    alt="" />

            </div>
            <h6 class="mt-1">
                Virtualización
            </h6>
        </div>
    </a>
</div>
<div class="col-md-2 mt-2">
    <a class="index-services-btn " href="{{ url_for('computo') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box">
                <img class="subpage-img" src="{{ url_for('static', filename='images/computing-bw.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Cómputo
            </h6>
        </div>
    </a>
</div>
<div class="col-md-2 mt-2">
    <a class="index-services-btn " href="{{ url_for('datacenter') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box" ;">
                <img class="subpage-img" src="{{ url_for('static', filename='images/datacenter-color.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Data Center
            </h6>
        </div>
    </a>
</div>
<div class="col-md-2 mt-2">
    <a class="index-services-btn" href="{{ url_for('server') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box">
                <img class="subpage-img" src="{{ url_for('static', filename='images/server-bw.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Servidores
            </h6>
        </div>
    </a>
</div>
<div class="col-md-2 mt-2">
    <a class="index-services-btn" href="{{ url_for('tic') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box">
                <img class="subpage-img" src="{{ url_for('static', filename='images/tic-bw.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Soporte TIC
            </h6>
        </div>
    </a>
</div>
{% endblock %}