{% extends 'layout/layoutSubPaginas.html' %}

{% block imgInfo %}
<img class="img-fluid shadow-img" src="{{ url_for('static', filename='images/networking-info.png') }}" alt="" />
{% endblock %}

{% block info %}
En <b>[Nombre de la Empresa]</b>, nos especializamos en proporcionar soluciones integrales de redes
diseñadas para satisfacer las necesidades tecnológicas de su empresa. Nuestro equipo de expertos en
redes está comprometido en ofrecer soluciones de vanguardia que optimizan la conectividad, mejoran
la seguridad y permiten el crecimiento de su negocio.
{% endblock %}

{% block imgDescription %}
<img class="img-fluid rounded shadow-img" src="{{ url_for('static', filename='images/networking-description-2.jpg') }}"
    alt="">
{% endblock %}