{% extends 'layout/layoutSubPaginas.html' %}

{% block imgInfo %}
<img class="img-fluid shadow-img" src="{{ url_for('static', filename='images/server-info.png') }}" alt="" />
{% endblock %}

{% block info %}
En <b>[Nombre de la Empresa]</b>, nos enorgullece ofrecer una amplia gama de servicios de servidores
diseñados para satisfacer las necesidades tecnológicas de su organización. Nuestra experiencia y
dedicación nos permiten proporcionar soluciones de servidores confiables, escalables y seguras que
impulsan la eficiencia y el éxito de su empresa.
{% endblock %}

{% block imgDescription %}

<img class="img-fluid rounded shadow-img" src="{{ url_for('static', filename='images/server-description-img.jpg') }}"
    alt="">
{% endblock %}