{% include 'site/header.html' %}

<div class="subpage-tittle">
    <p>
        <span>
            {{data.title}}
        </span>
    </p>
</div>
<section class="about_section layout_padding other_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 px-0 mb-4">
                <p>
                    En <b>[Nombre de la empresa]</b>, contamos con personal altamente capacitado para bridar el mejor
                    servicio en en caracteristicas tecnológicas, brindando infraestructura, seguridad, mantenimiento y
                    seguimiento para el crecimiento y evolución constante de su negocio.
                    <br><br>
                    <b>[Nombre de la empresa] BRINDA SERVICIOS DE:</b>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                a
            </div>
        </div>
    </div>
</section>

{% include "site/footer.html" %}