{% extends 'layout/layoutSubPaginas.html' %}

{% block imgInfo %}
<img class="img-fluid shadow-img" src="{{ url_for('static', filename='images/tic-info.png') }}" alt="" />
{% endblock %}

{% block info %}
En <b>[Nombre de la Empresa]</b>, nos enorgullece ofrecer servicios de soporte de Tecnologías de la
Información que ayudan a las empresas a aprovechar al máximo su infraestructura tecnológica.
Nuestra experiencia y compromiso nos permiten brindar soluciones de soporte confiables, escalables y
personalizadas que impulsan la eficiencia y la productividad de su organización.
{% endblock %}

{% block imgDescription %}
<img class="img-fluid rounded shadow-img" src="{{ url_for('static', filename='images/tic-description-img-2.jpg') }}"
    alt="">
{% endblock %}