{% extends 'layout/layoutSubPaginas.html' %}

{% block imgInfo %}
<img class="img-fluid shadow-img" src="{{ url_for('static', filename='images/virtualization-info.png') }}" alt="" />
{% endblock %}

{% block info %}
En <b>[Nombre de la Empresa]</b>, ofrecemos una amplia gama de servicios de virtualización diseñados
para
optimizar la infraestructura tecnológica de su empresa y maximizar la eficiencia de sus operaciones.
Nuestro enfoque en la virtualización le permite aprovechar al máximo su infraestructura de TI,
reducir costos y mejorar la agilidad de su organización.
{% endblock %}

{% block imgDescription %}
<img class="img-fluid rounded shadow-img"
    src="{{ url_for('static', filename='images/virtualization-description-img.jpg') }}" alt="">
{% endblock %}