{% extends 'site/plantillaSubPaginas.html' %}

{% block imgInfo %}
<img class="img-fluid shadow-img" src="{{ url_for('static', filename='images/virtualization-info.png') }}" alt="" />
{% endblock %}

{% block info %}
En <b>[Nombre de la Empresa]</b>, ofrecemos una amplia gama de servicios de virtualización diseñados
para
optimizar la infraestructura tecnológica de su empresa y maximizar la eficiencia de sus operaciones.
Nuestro enfoque en la virtualización le permite aprovechar al máximo su infraestructura de TI,
reducir costos y mejorar la agilidad de su organización.
{% endblock %}

{% block imgDescription %}
<img class="img-fluid rounded shadow-img"
    src="{{ url_for('static', filename='images/virtualization-description-img.jpg') }}" alt="">
{% endblock %}

<!--More services-->

{% block moreServices %}
<div class="col-md-2 mt-2">
    <a class="index-services-btn " href="{{ url_for('redes') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box">
                <img class="subpage-img" src="{{ url_for('static', filename='images/networking-bw.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Redes
            </h6>
        </div>
    </a>
</div>
<div class="col-md-2 mt-2">
    <a class="index-services-btn " href="{{ url_for('computo') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box">
                <img class="subpage-img" src="{{ url_for('static', filename='images/computing-bw.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Cómputo
            </h6>
        </div>
    </a>
</div>
<div class="col-md-2 mt-2">
    <a class="index-services-btn " href="{{ url_for('datacenter') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box" ;">
                <img class="subpage-img" src="{{ url_for('static', filename='images/datacenter-color.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Data Center
            </h6>
        </div>
    </a>
</div>
<div class="col-md-2 mt-2">
    <a class="index-services-btn" href="{{ url_for('server') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box">
                <img class="subpage-img" src="{{ url_for('static', filename='images/server-bw.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Servidores
            </h6>
        </div>
    </a>
</div>
<div class="col-md-2 mt-2">
    <a class="index-services-btn" href="{{ url_for('tic') }}">
        <div class="box index-services text-center sub-pages-btn">
            <div class="img-box">
                <img class="subpage-img" src="{{ url_for('static', filename='images/tic-bw.svg') }}" alt="" />
            </div>
            <h6 class="mt-1">
                Soporte TIC
            </h6>
        </div>
    </a>
</div>
{% endblock %}